body {    
    /* max-width: 1080px; */
    /* max-width: 960px; */
    /* min-width: 400px; */
    margin: auto; 
    /* padding: 1rem 2rem; */
    /* background: #0d0d0d; */
    
    background: #000;
    color: #faf7f2ee; 
    /* color: #e7bb0c; */
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    /* font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;  */
}

#navbar {
    max-width: 960px;
    margin: auto;
    flex-wrap: nowrap;
}
#logo {
    width: 100px;
    height: 100px;
}
.navbar-toggler {
    justify-content: flex-end;
    border: none;
}
#navbarNavDropdown {
    justify-content: flex-end;
}
.navbar-nav {
    align-items: flex-end;
}
/* EFFECTS */
/* GENERAL INFO / MY CLASSES */
div {
    padding: 2rem 0;
}
a {
    color: #FAF7F2;
}
a:hover {
    font-style: italic;
    color: #FAF7F2;
}
.btn {
    border-radius: 30px;
}
mark {
    background-color: #f8db66;
    font-size: 13px;
}

.header {
    font-size: 7rem;    
    font-family: 'Bungee', cursive;
    color: #FAF7F2;
    text-align: center;
}
.landing-secondary {
    font-size: 3.7rem;    
    color: #ed4141;
    align-items: center;
    justify-content: center;
    display: flex;
}
.sub-header {
    /* text-align: center; */
}
.sub-header-long {
    text-align: center;
}
@media screen and (max-width: 1235px) {
    .header {
        font-size: 6rem;   
        text-align: center; 
    }
  }
@media screen and (max-width: 960px) {
    .header {
        font-size: 4.5rem;  
    }
    .sub-header {
        font-size: 2.3rem;   
    }
    .sub-header-long {
        text-align: center; 
        font-size: 2.3rem;   
    }
}
@media screen and (max-width: 400px) {
    #logo {
        width: 50px;
        height: 50px;
    }
    .header {
        font-size: 3rem;   
    }
    .sub-header {
        margin: auto;   
    }
}

/* BODY */
#demo {
    font-size: 8rem;
    font-family: 'Bungee', cursive;
    text-align: center;
}
#landing {
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5.3rem 0 10rem 0;
    /* font-size: 16px; */
}
.landing-secondary {
    font-family: 'Bungee', cursive;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; */
}
.landing-header {
    font-family: 'Space Grotesk', sans-serif;
}
.landing-text {
    max-width: 960px;
    margin: auto;
    text-align: center;
    line-height: 2;
    font-size: 2rem;
}
.dramatic {
    margin: 5.3rem 0 12rem 0;
}
@media screen and (max-width: 960px) {
    #landing {
        padding-top: 0;
    }
}
@media screen and (max-width: 400px) {
    .landing-text {
        font-size: 1.3rem;  
    }
}

img {
    width: 600;
    height: 600;
    display: block;
    margin: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.background-img {
    background-image: url("images/venue_bw.JPG");
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
}
#div-2023 {
    padding: 2rem 0 1rem 0;
}
section {
    font-size: 1.5rem;
    text-align: center;
    line-height: 2;
    display: flex;
    justify-content: space-around;
}
.masterOfCeremony {
    margin:auto;
    text-align: center;
    visibility: hidden;
}

@media screen and (max-width: 960px) {
    section {
        font-size: 1.3rem;
        padding: 0 2rem;
    }
    #div-2023 {
        background-position: center;
    }
}

.divs-header {
    font-size: 2.3rem;
    font-family: 'Bungee', cursive;
    color: #acecaf;
}
#divs-table {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.table {
    max-width: 960px;
    font-size: 1.4rem;
}
#divs-table .table-borderless td, .table-borderless th {
    border: none;
}

#divs-table-tix .table-borderless td, .table-borderless th {
    border: none;
}

#tixSection {
    max-width: 960px;
    margin: auto;
    /* align-items: center; */
    text-align: center;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0;
}
.tix-header {
    font-size: 2.3rem;
    font-family: 'Bungee', cursive;
    color: #FAF7F2;
}
#divs-table-tix {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: space-around;
}

.tixSection-nowrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.tix-category {
    font-size: 2rem;
}
/* @media screen and (max-width: 1235px) {
    .tixSection-nowrap {
        flex-wrap: wrap;
    }
} */
@media screen and (max-width: 960px) {
    .tix-title {
        font-size: 1.5rem;
    }
    #sponsorsSection {
        padding: 2rem .5rem;
    }
}
@media screen and (max-width: 400px) {
    .background-img {
        background-repeat: no-repeat;
        background-size: auto;
    }
    #divs-table {
        display: block;
        padding-top: 1rem;
    }
    .table thead th {
        border-bottom: none;
    }
    .header {
        font-size: 3rem;   
    }
    .sub-header {
        margin: auto;   
    }
    .masterOfCeremony {
        visibility: visible;
    }
    #divs-table-tix {
        display: block;
        padding-top: 1rem;

    }
    .tix-category {
        margin:auto;
    }



    /* #divs-table-tix .table-borderless td, .table-borderless th {
        border: none;
    } */
    /* #tixSection thead {
        border: visible;
    } */
}

#sponsorsSection {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    margin: auto;
}

.sponsorsSection {
    display: flex;
    /* align-items:; */
}

.sponsors-title {
    color: linear-gradient(135deg, #f8db66 10%, #5fb7ce 100%);
    font-family: 'Bungee', cursive;
    display: block;
    font-size: 3.7rem;    
}
.sponsors-message {
    padding: inherit;
}
@media screen and (max-width: 960px) {
    .tix-title {
        font-size: 1.5rem;
    }
    .tix-header {
        text-align: center;
        padding-left: none;
    }
}
@media screen and (max-width: 400px) {
    /* .crop {
        width: 200px;
        height: 150px;
        overflow: hidden;
    }
    .crop #family {
        width: 400px;
        height: 300px;
        margin: -75px -100px 0 -100px;
    } */
}

  







#logos {
    display: flex;
    flex-wrap: wrap;
}
img {
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s ease-in-out; 
}
img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }


#aboutSection {
    font-size: 20px;
    font-family: 'Bungee', cursive;

}

.bg-clip-text {
    -webkit-background-clip: text;
}
.yellow-gradient {
    background-image: linear-gradient(125deg, #BF953F, #d6d09b, #B38728);
}
.text-transparent {
    color: transparent;
}

footer {
    margin: 1rem;
    text-align: center;
    font-size: 10px;
}
