body {    
    margin: auto; 
    background: #000;
    color: #faf7f2ee; 
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

#breathing {
    -webkit-animation: breathing 12s ease-out infinite normal;
    animation: breathing 8s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
    border-radius: 2px;
    }


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.container {
    display: flex;
    justify-content: center;
    padding: 10rem 0;
}
#demo {
    font-size: 8rem;
    font-family: 'Bungee', cursive;
    text-align: center;
    color: #ed4141;
    padding: 20rem 0;
}
#logo {
    width: 500px;
}
#logo-planB {
    width: 100px;
    padding-bottom: 2rem;
}

#landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 13rem;
}

footer {
    font-size: 8px;
    color: #faf7f225;
}
@media screen and (max-width: 1235px) {
    #logo {
        width: 450px;
    }
    .container {
        padding-top: 2rem;
    }
}
@media screen and (max-width: 960px) and (max-height: 960px) {
    .container {
        padding: 1rem;
    }
    #logo-planB {
        width: 75px;
        padding: 0 0 2rem 0;
    }
    #demo {
        padding: 5rem 0;
    }
}

@media screen and (max-width: 400px) {
    #logo {
        width: 350px;
    }
    .container {
        padding: 0;
    }
    #demo {
        padding: 1rem 0;
    }
    #logo-planB {
        width: 50px;
        padding: 0 0 2rem 0;
    }
    footer {
        margin-top: -2px;
    }
}

img {
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s ease-in-out; 
}
img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }